.profile {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0;
    width: 280px;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #9a9898;
  }
  
  .description {
    display: block;
  }
  
  .avatar {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 280px;
    margin-bottom: 20px;
    background-color: #f0f8ff;
  }
  
  .name {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }
  
  .tag {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #9a9898;
  }
  
  .location {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #9a9898;
  }
  
  .stats {
    display: flex;
    border-radius: 0 0 4px 4px;
    background-color: #d4d4d4;
  }
  
  .statsItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-top: solid 1px #9a9898;
    border-right: solid 1px #9a9898;
    width: 100%;
    height: 60px;
  }
  
  .statsItem:last-child {
    border-right: 0;
  }
  
  .label {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #9a9898;
  }
  
  .quantity {
    display: block;
    font-weight: bold;
  }